<mat-sidenav #sidenav mode="side" class="bg-light">
  <div class="flex-row flex" *ngIf="authService.islogged">
    <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()'><i class="fas fa-outdent mx-auto"></i></button>
    <!-- <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()' routerLinkActive routerLink="/"><i class="fas fa-home"> Home Page</i></button> -->
    <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()' routerLinkActive routerLink="/orders/new"><i class="fas fa-plus-circle"> Añadir Orden</i></button>
    <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()' routerLinkActive routerLink="/orders/monthview"><i class="fas fa-calendar-alt"> Vista Mes</i></button>
    <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()' routerLinkActive routerLink="/orders/view"><i class="fas fa-list-alt"> Listado</i></button>
    <button class="btn btn-outline-dark border-0 btn-block" (click)='sidenav.toggle()' routerLinkActive (click)='logOut()' routerLink='/'><i class="fas fa-sign-out-alt"> Cerrar Sesión</i></button>
  </div>
</mat-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar class="bg-dark text-white">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ app_name | uppercase }}</span>
      <span class="example-spacer"></span>
      <ul class="list-inline">
        <li class="list-inline-item" *ngIf="!authService.islogged">
          <button mat-button routerLinkActive routerLink="/auth/register"><i class="fas fa-user-plus"></i></button>
        </li>
        <li class="list-inline-item" *ngIf="!authService.islogged">
          <button mat-button routerLinkActive routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i></button>
        </li>
      </ul>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
