<mat-sidenav #sidenav mode="side" class="bg-light">
  <div class="d-flex flex-column m-4" *ngIf="authService.islogged">
    <button mat-button (click)='sidenav.toggle()'><mat-icon>menu</mat-icon></button>
    <button mat-button (click)='sidenav.toggle()' routerLink="/">Home Page</button>
    <button mat-button (click)='sidenav.toggle()' routerLink="/orders/new">Añadir Orden</button>
    <button mat-button (click)='sidenav.toggle()' routerLink="/orders/monthview">Vista Meses</button>
    <button mat-button (click)='sidenav.toggle()' routerLink="/orders/view">Vista Diaria</button>
  </div>
</mat-sidenav>

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ app_name | uppercase }}</span>
      <span class="example-spacer"></span>
      <ul class="list-inline mt-2">
        <li class="h6 list-inline-item" *ngIf="!authService.islogged">
          <a class="nav-link" routerLinkActive routerLink="/auth/register"
          >Registrarse</a>
        </li>
        <li class="h6 list-inline-item" *ngIf="!authService.islogged">
          <a class="nav-link" routerLinkActive routerLink="/auth/login">Iniciar Sesion</a>
        </li>
        <li class="h6 list-inline-item" *ngIf="authService.islogged" >
          <a class="nav-link" routerLinkActive routerLink="/" (click)="logOut()">Cerrar Sesion</a>
        </li>
      </ul>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
