<div class="container  mt-4">
  <div class=" table-responsive mat-elevation-z8">

    <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">

      <!-- Codigo de ordenes-->
      <ng-container matColumnDef="codOrder">
        <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> CodigoOrdenes </th>
        <td mat-cell *matCellDef="let element"> {{element.codOrder}} </td>
        <td class="font-weight-bold" mat-footer-cell *matFooterCellDef> Total Puntos: </td>
      </ng-container>

      <!-- Tipo de Instalacion -->
      <ng-container matColumnDef="typeInstalation">
        <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> TipoInstalacion </th>
        <td mat-cell *matCellDef="let element"> {{element.typeInstalation}} </td>
        <td class="font-weight-bold" mat-footer-cell *matFooterCellDef> {{totalPoint | number}} </td>
      </ng-container>

      <!-- Puntos de Instalacion -->
      <ng-container matColumnDef="point">
        <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> Puntos </th>
        <td mat-cell *matCellDef="let element"> {{element.point}} </td>
        <td class="font-weight-bold" mat-footer-cell *matFooterCellDef> Puntos Extras: </td>
      </ng-container>

      <!-- Fecha de Instalacion -->
      <ng-container matColumnDef="dateInstalation">
        <th class="font-weight-bold" mat-header-cell *matHeaderCellDef mat-sort-header> FechaInstalacion </th>
        <td mat-cell *matCellDef="let element"> {{element.dateInstalation}} </td>
        <td class="font-weight-bold" mat-footer-cell *matFooterCellDef> {{ totalPoint - 126 | number}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar;"></tr>
      <tr mat-footer-row *matFooterRowDef="columnasAMostrar"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[78, 160,320]" showFirstLastButtons></mat-paginator>

      </div>
        <button mat-icon-button (click)="exporter.exportTable('xlsx', {fileName:'totalPuntosMes', sheet: 'sheet_name', Props: {Author: 'ocbim'}})"><i class="far fa-file-excel"></i></button>
        <button mat-icon-button (click)="exporter.exportTable('csv', {fileName: 'totalPuntosMes'})"><i class="fas fa-file-csv"></i></button>
        <button mat-icon-button (click)="exporter.exportTable('json', {fileName: 'totalPuntosMes'})"><i class="fab fa-js"></i></button>
        <button mat-icon-button (click)="exporter.exportTable('txt', {fileName: 'totalPuntosMes'})"><i class="fas fa-file-alt"></i></button>
      <div>

  </div>
</div>
